html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}
#myDialog {
  position: absolute;
  /*
  width: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');  
  height: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');  
    */
  width: 100%;
  height: 100%;
  top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');  
  left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');  
}