div.dialog-container {
  position: relative;
  zoom: 1;

  width: 100%;
  height: 100%;
}

div.valignMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
}

div.valignInner {
  position: relative;
  top: -50%;
  left: -50%;
  border: 1px solid red;
}