body {
  /*
  overflow: hidden;
    */
}
body > p {
  width: 2000px;
  height: 2000px;
}
.dialogRootContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  /*
  filter: alpha(opacity=50); 
  -khtml-opacity: 0.5;      
  -moz-opacity: 0.5;       
  opacity: 0.5;           
  */
    
  background: rgba(128, 128, 128, 0.5);
  display: table;
  overflow: hidden;
}

.dialogRootContainer .dialog-container {
  display: table-cell;
  vertical-align: middle;
}

div.valignMiddle {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
  background-color: white;
  position: relative;
  /*cursor: move;*/
}

.closeBtn {
  width: 15px;
  height: 15px;
  background-color: blue;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

.dialog-container .header {
  height: 20px;
  background-color: blue;
}